/* UTILITY & SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.icon-resize {
  height: 15px;
}

.world {
  padding: 2px 3px 0 0;
}
/* /UTILITY & SETTINGS */

/* HEADER */
header {
  width: 100%;
}

.header-background {
  height: 934px;
  min-width: 1200px;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.header-nav {
  height: 80px;
  background-color: #f4f9fd;
  border-bottom: 1px solid #cecece;
}

.header-nav li {
  color: #514d4d;
  padding: 20px;
  display: inline-block;
}

.header-nav-2 li {
  display: inline-block;
  padding: 20px;
}

.first-list-1 {
  margin-left: 330px;
}

.first-list-2 {
  margin-left: 330px;
}

.second-list-1 {
  margin-right: 330px;
}

.second-list-2 {
  margin-right: 330px;
}

.nav-button-1 {
  background-color: transparent;
  padding: 10px;
  border: 1px solid #fe775a;
  color: #fe775a;
  border-radius: 4px;
}

.nav-button-2 {
  background-color: #fe775a;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.jumbo-content {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 150px;
}

.jumbo-content h1 {
  color: #465768;
  font-size: 50px;
}

.jumbo-content p {
  line-height: 25px;
  margin: 20px 0;
  font-size: 16px;
  color: #465768;
}

.jumbo-content button {
  background-color: #fe775a;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
}
/* /HEADER */

/* MAIN */
main {
  background-color: #f4f9fd;
  height: 2000px;
}
/* Main box 1 */
.main-box-1 {
  text-align: center;
  padding: 30px;
  margin-bottom: 50px;
}

.main-box-1 h2 {
  color: #465768;
  font-size: 35px;
  padding-bottom: 20px;
}

.main-box-1 p {
  color: #465768;
  line-height: 35 px;
  font-size: 24px;
}
/* /Main box 1 */

/* Main box 2 */
.main-box-2 {
  width: 100%;
  background-color: #fff;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  text-align: center;
  margin-bottom: 50px;
}

.main-box-2-element-1 {
  padding: 120px;
}

.main-button {
  display: block;
  background-color: #fe775a;
  color: white;
  padding: 25px 35px;
  border: none;
  border-radius: 5px;
}

.main-box-2-element-2{
  text-align: left;
}

.main-box-2-element-2 h3{
  color: #465768;
  font-size: 30px;
  padding: 120px 0 20px 0;
}

.main-box-2-element-2 h4{
  color: #465768;
  font-size: 20px;
}

.main-box-2-element-2 p{
  color: #465768;
  font-size: 20px;
  padding: 0 110px 20px 0;
  line-height: 30px;
}

.h4-with-hr {
  display: inline-block;
  width: 400px;
}

.main-box-2-element-2 ul {
   margin-top: 20px;
}

.main-box-2-element-2 li {
  display: inline-block;
  color: #465768;
  padding-right: 20px;
}

.main-box-2-element-2 img {
   vertical-align: middle;
   padding-right: 15px;
}
/* /Main box 2 */

/* Tre colonne */
.box {
  width: 28.33%;
  height: 600px;
  background-color: #fff;
  margin: 30px;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
  text-align: center;
  color: #465768;
}

.box img {
  margin-top: 20px;
}

.box h3 {
  font-weight: bold;
  font-size: 25px;
  margin: 30px 0;
}

.box h4 {
  margin: 20px 0;
}

.box p {
  line-height: 25px;
  padding: 0 30px 20px 20px;
  font-size: 20px;
}

.box li {
  list-style: none;
  line-height: 30px;
}

.box hr {
  width: 70%;
  margin: 0 auto;
}

.box button {
  background-color: #fe775a;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
/* /Tre colonne */

/* Rettangolo blu */
section {
  width: 100%;
  height: 900px;
  background-color: #00a9b8;
  color: white;
}

.upper-section {
  text-align: center;
  padding-top: 70px;
}

.upper-section h2 {
  font-size: 37px;
  margin-bottom: 30px;
}

.upper-section p {
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 50px;
}

.blue-box {
  width: 25%;
  height: 200px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.blue-box-2 {
  width: 25%;
  height: 200px;
  border-right: 1px solid #fff;
}

.blue-box-special {
  width: 25%;
  height: 200px;
  border-bottom: 1px solid #fff;
}

.blue-box-container {
  margin: 100px 0;
}
/* /Rettangolo blu */

/* Pre-footer */
.second-section {
  background-color: #fff;
}

.second-section-container-1 {
  background-color: #fff;
  color: #465768;
  text-align: center;
  width: 400px;
  padding: 100px;
  display: inline-block;
}

.second-section-container-1 h2 {
  font-size: 70px;
  padding-bottom: 30px;
}

.second-section-container-1 p{
  font-size: 18px;
  line-height: 28px;
}

.second-section-container-2 {
  display: inline-block;
  margin-left: 200px;
}

.second-section-container-3 {
  color: #465768;
  width: 400px;
  margin-top: 40px;
  text-align: left;
  display: inline-block;
}

.second-section-container-3 h2{
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.second-section-container-3 p{
  font-size: 14px;
  line-height: 28px;
}

.second-section-container-3 button {
  display: block;
  background-color: #fe775a;
  color: white;
  padding: 20px 35px;
  border: none;
  border-radius: 5px;
  margin: 40px 0;
}

.second-section-container-4 {
  display: inline-block;
}

.second-section-container-4 img{
  display: inline-block;
  height: 500px;
  padding-bottom: 100px;
}
/* /Pre-footer */

/* Colonne pre-footer */
.third-section {
  background-color: #32495b;
  color: white;
  height: 700px;
}

.pre-footer-box {
  display: inline-block;
  text-align: center;
  width: 20%;
  margin: 50px 28px;
  padding-bottom: 100px;
}

.third-section ul > li {
  line-height: 45px;
  list-style-type: none;
}

.third-section h3 {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 30px;
}

.languages-container {
  width: 1200px;
  text-align: center;
  border-bottom: 1px solid #fff;
  height: 30px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.languages-container li {
  display: inline-block;
  padding-right: 75px;
  font-size: 20px;
}



/* /Colonne pre-footer */
