/* UTILITY & SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.icon-resize {
  height: 15px;
}
/* /UTILITY & SETTINGS */

/* HEADER */
header {
  width: 100%;
}
.header-background {
  height: 934px;
  min-width: 1200px;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.header-nav {
  height: 80px;
  background-color: #f4f9fd;
  border-bottom: 1px solid #cecece;
}

.header-nav li {
  color: #514d4d;
  padding: 20px;
  display: inline-block;
}

.header-nav-2 li {
  display: inline-block;
  padding: 20px;
}

.first-list-1 {
  margin-top: 10px;
}

.second-list-2 {
  margin-top: 10px;
}

.nav-button-1 {
  background-color: transparent;
  padding: 10px;
  border: 1px solid #fe775a;
  color: #fe775a;
  border-radius: 4px;
}

.nav-button-2 {
  background-color: #fe775a;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.jumbo-content {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 150px;
}

.jumbo-content h1 {
  color: #465768;
  font-size: 50px;
}

.jumbo-content p {
  line-height: 25px;
  margin: 20px 0;
  font-size: 16px;
  color: #465768;
}

.jumbo-content button {
  background-color: #fe775a;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
}
/* /HEADER */

/* MAIN */
main {
  background-color: #f4f9fd;
}

.main-box-1 {
  text-align: center;
  padding: 30px;
}

.main-box-1 h2 {
  color: #465768;
  font-size: 35px;
  padding-bottom: 20px;
}

.main-box-1 p {
  color: #465768;
  line-height: 35 px;
  font-size: 24px;
}
